Repository cumbanch/TACS-COVID-G2, pull requests merged in 2020-04, with the labels that each got.

#30 directories structure
  react-frontend/src/App.js
  react-frontend/src/assets/images/logo.svg
  react-frontend/src/assets/sass/global.scss
  react-frontend/src/components/app/app.js
  react-frontend/src/components/app/header/app-header.js
  react-frontend/src/components/app/header/app-header.scss
  react-frontend/src/components/app/header/index.js
  react-frontend/src/components/component-template.js
  react-frontend/src/components/kitten.js
  react-frontend/src/index.js
  react-frontend/src/routes/home/home.js
  react-frontend/src/routes/home/index.js
  react-frontend/src/routes/portfolio/index.js
  react-frontend/src/routes/portfolio/portfolio.js
  react-frontend/src/service-worker.js
  react-frontend/src/setup-tests.js
  react-frontend/src/utils/sth-useful-to-many-domains.js
Labels: frontend

#32 Add test for users
  backend/package.json
  backend/src/tests/controllers/health_check/get.spec.js
  backend/src/tests/controllers/users/get.spec.js
  backend/src/tests/controllers/users/post.spec.js
  backend/src/tests/factories/factory_by_models.js
  backend/src/tests/factories/tokens.js
  backend/src/tests/factories/users.js
  backend/src/tests/utils/app.js
  backend/src/tests/utils/paginations.js
Labels: backend

#31 Inserts for Countries
  backend/src/migrations/migrations/20200417191234-countries.js
Labels: backend

#34 Login and sign up
  react-frontend/package-lock.json
  react-frontend/package.json
  react-frontend/src/assets/sass/global.scss
  react-frontend/src/components/app/app.js
  react-frontend/src/components/login/login.js
  react-frontend/src/components/sign-up/sign-up.js
  react-frontend/src/index.css
  react-frontend/src/index.js
Labels: frontend

#26 Covid real service
  backend/.env.example
  backend/package-lock.json
  backend/package.json
  backend/src/app/controllers/lists.js
  backend/src/app/mappers/lists.js
  backend/src/app/services/covid_api.js
  backend/src/app/services/lists.js
  backend/src/config/index.js
  backend/src/documentation/swagger.json
Labels: backend

#35 Sessions logic
  backend/.env.example
  backend/package-lock.json
  backend/package.json
  backend/src/app/controllers/sessions.js
  backend/src/app/controllers/users.js
  backend/src/app/errors/builders.js
  backend/src/app/errors/internal_codes.js
  backend/src/app/mappers/lists.js
  backend/src/app/middlewares/authorization.js
  backend/src/app/middlewares/errors.js
  backend/src/app/models/tokens_blacklist.js
  backend/src/app/models/users.js
  backend/src/app/routes/countries.js
  backend/src/app/routes/lists.js
  backend/src/app/routes/sessions.js
  backend/src/app/routes/users.js
  backend/src/app/schemas/sessions.js
  backend/src/app/serializers/sessions.js
  backend/src/app/services/sessions.js
  backend/src/app/services/tokens_black_list.js
  backend/src/app/services/users.js
  backend/src/config/index.js
  backend/src/migrations/migrations/20200419134900-add-black-list-table.js
  backend/src/migrations/migrations/20200419221343-make-unique-email-field.js
Labels: backend

#33 Add test for countries
  backend/package.json
  backend/src/tests/controllers/countries/get.test.js
  backend/src/tests/controllers/users/get.spec.js
  backend/src/tests/factories/countries.js
  backend/src/tests/utils/paginations.js
Labels: backend

#36 Minor changes for covid service
  backend/src/app/controllers/lists.js
  backend/src/app/errors/builders.js
  backend/src/app/errors/internal_codes.js
  backend/src/app/mappers/lists.js
  backend/src/app/middlewares/authorization.js
  backend/src/app/middlewares/errors.js
  backend/src/app/schemas/users.js
  backend/src/app/serializers/lists.js
  backend/src/app/services/covid_api.js
  backend/src/app/services/lists.js
  backend/src/app/services/sessions.js
  backend/src/app/utils/objects.js
  backend/src/migrations/migrations/20200417191234-countries.js
  backend/src/tests/controllers/countries/get.test.js
  backend/src/tests/factories/factory_by_models.js
Labels: backend

#23 EPIC - Services working with real data
  backend/.env.example
  backend/package-lock.json
  backend/package.json
  backend/src/app/controllers/lists.js
  backend/src/app/controllers/sessions.js
  backend/src/app/controllers/users.js
  backend/src/app/errors.js
  backend/src/app/errors/builders.js
  backend/src/app/errors/internal_codes.js
  backend/src/app/errors/schema_messages.js
  backend/src/app/mappers/lists.js
  backend/src/app/mappers/users.js
  backend/src/app/middlewares/authorization.js
  backend/src/app/middlewares/errors.js
  backend/src/app/models/tokens_blacklist.js
  backend/src/app/models/users.js
  backend/src/app/routes/countries.js
  backend/src/app/routes/lists.js
  backend/src/app/routes/sessions.js
  backend/src/app/routes/users.js
  backend/src/app/schemas/lists.js
  backend/src/app/schemas/sessions.js
  backend/src/app/schemas/users.js
  backend/src/app/serializers/lists.js
  backend/src/app/serializers/sessions.js
  backend/src/app/serializers/users.js
  backend/src/app/services/countries.js
  backend/src/app/services/covid_api.js
  backend/src/app/services/lists.js
  backend/src/app/services/sessions.js
  backend/src/app/services/tokens_black_list.js
  backend/src/app/services/users.js
  backend/src/app/utils/objects.js
  backend/src/config/index.js
  backend/src/migrations/migrations/20200417023649-add-default-value-in-last-access.js
  backend/src/migrations/migrations/20200417191234-countries.js
  backend/src/migrations/migrations/20200419134900-add-black-list-table.js
  backend/src/migrations/migrations/20200419221343-make-unique-email-field.js
  backend/src/tests/controllers/countries/get.test.js
  backend/src/tests/controllers/health_check/get.spec.js
  backend/src/tests/controllers/users/get.spec.js
  backend/src/tests/controllers/users/post.spec.js
  backend/src/tests/factories/countries.js
  backend/src/tests/factories/factory_by_models.js
  backend/src/tests/factories/tokens.js
  backend/src/tests/factories/users.js
  backend/src/tests/utils/app.js
  backend/src/tests/utils/paginations.js
Labels: backend

#38 Login and sign up really working
  backend/package-lock.json
  backend/package.json
  backend/src/app.js
  backend/src/app/middlewares/cors.js
  react-frontend/package-lock.json
  react-frontend/package.json
  react-frontend/src/components/app/app.js
  react-frontend/src/components/app/header/app-header.js
  react-frontend/src/components/app/header/app-header.scss
  react-frontend/src/components/app/header/index.js
  react-frontend/src/components/component-template.js
  react-frontend/src/components/home/home.js
  react-frontend/src/components/kitten.js
  react-frontend/src/components/login/login.js
  react-frontend/src/components/sign-in/sign-in.js
  react-frontend/src/components/sign-up/sign-up.js
  react-frontend/src/components/validation/validatable-field.js
  react-frontend/src/hooks/custom-hooks.js
  react-frontend/src/index.js
  react-frontend/src/services/sessions.js
Labels: backend, frontend

#40 Add test for lists (1/2)
  backend/src/app/errors/builders.js
  backend/src/app/errors/internal_codes.js
  backend/src/app/middlewares/errors.js
  backend/src/app/services/lists.js
  backend/src/tests/controllers/countries/get.test.js
  backend/src/tests/controllers/lists/delete.spec.js
  backend/src/tests/controllers/lists/get.spec.js
  backend/src/tests/controllers/lists/post.spec.js
  backend/src/tests/controllers/sessions/post.spec.js
  backend/src/tests/factories/country_by_list.js
  backend/src/tests/factories/lists.js
Labels: backend

#41 Add test for list (2/2)
  backend/package.json
  backend/src/app/controllers/lists.js
  backend/src/app/errors/builders.js
  backend/src/app/errors/internal_codes.js
  backend/src/app/middlewares/errors.js
  backend/src/app/serializers/lists.js
  backend/src/app/serializers/paginations.js
  backend/src/app/services/countries.js
  backend/src/app/services/covid_api.js
  backend/src/app/services/lists.js
  backend/src/app/services/sessions.js
  backend/src/app/services/tokens_black_list.js
  backend/src/app/services/users.js
  backend/src/app/utils/objects.js
  backend/src/tests/controllers/countries/get.test.js
  backend/src/tests/controllers/lists/delete.spec.js
  backend/src/tests/controllers/lists/get.covid.spec.js
  backend/src/tests/controllers/lists/get.spec.js
  backend/src/tests/controllers/lists/put.spec.js
  backend/src/tests/controllers/sessions/post.spec.js
  backend/src/tests/factories/factory_by_models.js
  backend/src/tests/mocks/covid.js
Labels: backend

#43 Fix test and sequelize logging
  backend/package-lock.json
  backend/package.json
  backend/src/app/models/index.js
  backend/src/tests/controllers/countries/get.test.js
  backend/src/tests/controllers/users/get.spec.js
  backend/src/tests/utils/paginations.js
Labels: backend

#45 Add auto assign bot
  .github/auto_assign.yml
Labels: backend

#55 Frontend/sidebar added
  backend/package.json
  react-frontend/package-lock.json
  react-frontend/package.json
  react-frontend/src/assets/sass/burger-menu.css
  react-frontend/src/assets/sass/global.scss
  react-frontend/src/components/app/app.js
  react-frontend/src/components/app/index.js
  react-frontend/src/components/dashboards/countries-dashboard.js
  react-frontend/src/components/dashboards/dashboard.js
  react-frontend/src/components/dashboards/graphics-dashboard.js
  react-frontend/src/components/dashboards/menuItem.js
  react-frontend/src/components/dashboards/navBarCov.js
  react-frontend/src/components/dashboards/users-dashboards.js
  react-frontend/src/components/sign-in/sign-in.js
  react-frontend/src/components/sign-up/sign-up.js
Labels: frontend

#68 Fix update list
  backend/src/app/services/lists.js
Labels: backend

#67 Using user ARG correctly in Dockerfile
  backend/Dockerfile
  backend/docker-compose.development.yml
  backend/docker-compose.yml
Labels: backend

#70 Add vulnerability badge
  README.md
Labels: backend

#69 Check user permissions
  backend/src/app/errors/builders.js
  backend/src/app/errors/internal_codes.js
  backend/src/app/middlewares/authorization.js
  backend/src/app/middlewares/errors.js
  backend/src/app/routes/users.js
  backend/src/app/schemas/sessions.js
  backend/src/app/schemas/users.js
  backend/src/tests/controllers/sessions/post.spec.js
  backend/src/tests/controllers/users/get.spec.js
Labels: backend

#71 Last access
  backend/.env.example
  backend/src/app/controllers/sessions.js
  backend/src/app/services/covid_api.js
  backend/src/app/services/users.js
  backend/src/config/index.js
  backend/src/migrations/index.js
  backend/src/tests/controllers/sessions/post.spec.js
Labels: backend

#73 Change logic in get user
  backend/src/app/controllers/users.js
  backend/src/app/serializers/paginations.js
  backend/src/app/serializers/users.js
  backend/src/app/services/users.js
  backend/src/tests/controllers/users/get.spec.js
Labels: backend
